body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    position: relative;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(123, 166, 247, 0.6); 
    border-bottom: 1px solid #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 25%;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: rgb(17, 13, 13);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.head {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
	margin-left: 30%;
    margin-top: 8%;
    color: rgb(180, 179, 235);
    text-indent: 90px;
}

form {
    position: absolute;
    margin-left: 14%;
    margin-top: 16%;
    border: 2px solid rgb(111, 247, 235);
    border-radius: 5px;
    padding: 12px 20px;
}

.explore {
    position: absolute;
    line-height: 1;
    margin-left: 43%;
    margin-top: 21%;
    width: 160px;
    height: 50px;
    border: 2px solid rgb(189, 114, 250);
    border-radius: 5px;
    transition-duration: 0.4s;
}

.explore:hover {
    background-color: rgb(245, 137, 104);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
   .signupbtn {
    float: left;
    width: 100%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  #head-tourism {
      color: #f44336;
      text-align: center;
      padding: 40px;
  }

  .boat {
      height: 300px;
  }

  .munnar {
      height: 250px;
  }

  .districts {
      padding: 60px;
      margin-top: 50px;
  }

.dis {
    margin-top: 100px;
    line-height: 2.5;
    font-weight: bold;
}

.para {
    text-indent: 100px;
    line-height: 2;
}

p {
    text-indent: 100px;
    line-height: 2;
}


